// =============================================================================
// COMPONENT TABS
// =============================================================================

.cmp-tabs {

    // navigation
    &__nav {
        display: flex;
        padding: 0;
        margin: 0;

        // item
        &-i {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 15px;
            }
        }

        // link
        &-l {
            display: inline-block;
            padding: 0.5rem 1em;
            border: 2px solid #000;
            text-decoration: none;

            // hover
            &:hover {

            }

            // focus
            &:focus {

            }

            // active
            &:active, &[aria-selected] {
                background-color: #999;
            }
        }
    }


    // section
    &__section {
        border: 2px solid #000;
        padding: 1.5rem;
        margin-top: 10px;
        position: relative;
    }
}

// end COMPONENT TABS


*:focus {
  // outline: none;
  // box-shadow: inset 0 0 0 4px lightBlue;
}